* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,li {
    list-style: none;
}

input, button,select {
    outline: none;
    background: transparent;
    border: none;
    cursor: pointer;
}